//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@fe-boilerplate:registry=https://registry.npmjs.org/
engine-strict=false
strict-peer-dependencies=true
auto-install-peers=true
store-dir=.pnpm-store/v3
enable-pre-post-scripts=true
