//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true
engine-strict=false
strict-peer-dependencies=false
auto-install-peers=true
store-dir=.pnpm-store/v3
enable-pre-post-scripts=true
